<!DOCTYPE html>
<html lang="en" ng-app="MiApp">
  <head>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47528222-1', 'http://marysolsnz2.github.io/signin.html');
  ga('send', 'pageview');

</script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NutriKids - Iniciar Sesión</title>

    <!-- CSSs -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mi.css" rel="stylesheet">
    <link rel="stylesheet" href="css/foundation.css" />
  	<script src="js/vendor/modernizr.js"></script> 
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>	
    <link href='http://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script>
       var miApp = angular.module('MiApp', []);
       miApp.controller("Controlador", function ($scope) {
              $scope.usuarios=[{

                  'nombre': 'Kimberly',
                  'correo': 'kim_rola@hotmail.com'
                }

                ];

       });

       </script>
    
    
  </head>
  <body>
    <!-- Static Header -->
    <div class="header">
      <div class="col-md-1">
        
      </div>
      <div class="col-md-3">
      <a href="home2.html"><img src="logo.png" class="img" ></a>
      </div>
      <div class="col-md-7 menu">
      <div class="btn-group">
        <button type="button" class="btn btn-link a"> <a href="games.html" style="color: #339900">Juegos</a></button>
        <button type="button" class="btn btn-link a"><a href ="#"style="color: #66CC33">Actividades</a></button>
        <button type="button" class="btn btn-link a"><a style="color: #CC6600">Nutrición</a></button>
        <button type="button" class="btn btn-link a"><a href="signin.html"style="color: #0099FF">Iniciar Sesión</a></button>
         <div class="input-group"> <!-- Search -->
          <input type="text" class="form-control">
         <span class="input-group-btn">
           <button class="btn btn-info" type="button" style="font-family: 'Chewy', 'cursive'">Buscar</button>
          </span>
         </div><!-- /Search -->
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <!--- Page -->    
    <div style="  position: relative;
  top: 150px;
  height: 80%;">
      <div class="blank">   
      <!--- Aquí va el Slider -->    
        </div>
    
  <!--- Aquí van las cajitas con cosas, el class ="img" debe cambiarse para que se ajusten a un tamano apropiado-->    
      <div class="container" style="text-align: center">
        <center><div class="row">
          <div class="col-md-4 boxes" style="background-color: #00CC33; text-align: center">
            <p style="color: #009966; margin-top: 10px; font-family: 'Montserrat', 'sans-serif'; font-size: 36px;">Iniciar sesión</p>
          <form role="form">
             <div ng-controller="Controlador">
                <p>Hola!  {{usuarios[0].nombre}}</p>
             <div class="form-group">
                  <div ng-model="usuarios">
                 <label for="exampleInputEmail1"><p style="color: #009966; margin-top: 10px; font-family: 'Montserrat', 'sans-serif'; font-size: 14px;">Nombre:</p></label>
                 <input ng-model="usuarios[0].nombre" type="text" placeholder="{{usuarios[0].nombre}}">
                 </div>   
                 </div>
                </div>
               <label for="exampleInputEmail1"><p style="color: #009966; margin-top: 10px; font-family: 'Montserrat', 'sans-serif'; font-size: 14px;">Correo Electrónico:</p></label>
               <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingresar Correo ">
            <div class="form-group">
              <label for="exampleInputPassword1"><p style="color: #009966; margin-top: 10px; font-family: 'Montserrat', 'sans-serif'; font-size: 14px;">Contraseña:</p></label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña:">
            </div>
            <div class="checkbox">
             <label>
             <input type="checkbox"><p style="color: #009966; margin-top: 10px; font-family: 'Montserrat', 'sans-serif'; font-size: 14px;">Recuérdame</p>
             </label>
            </div>
            <button type="submit" class="btn btn-default"><p style="color: #009966; margin-top: 10px; font-family: 'Montserrat', 'sans-serif'; font-size: 14px;">Submit</p></button>
          </form>
          </div>
        </div></center>
        
        <button type="button" class="btn btn-link a"> <a href="signup.html" style="color: #0099FF">Crear una cuenta</a></button>
      </div>
      <div class="blank">

        
      </div>
      <div class="footer container">
        <div class="btn-group">
        <button type="button" class="btn btn-link"><a href= "games.html">Juegos</button></a>
        <button type="button" class="btn btn-link"><a href= "#">Actividades</button></a>
        <button type="button" class="btn btn-link"><a href= "nutricion.html">Nutrición</button></a>
        <button type="button" class="btn btn-link"><a href= "signin.html">Iniciar Sesión</button></a>
        </div>
        <p>Tecnológico de Monterrey. 2014.</p>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
      
    <!-- Necesarios para ejecutar slider-->
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
                  
    <script>
        $(document).foundation();
      </script>
      
  </body>
</html>
